$zoom: 1.44;
$primarycolor: #7044BD;
$btn-primary-bg: $primarycolor;
$font-family-sans-serif: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

@mixin gray-section {
  background: #FAFAFA;
  border-top: solid #eee 1px;
  border-bottom: solid #eee 1px;
}

.narrow {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.btn-info {
  background-color: $primarycolor;
}

.container {
}

.btn {
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px * $zoom;
  color: #FFFFFF;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;
  padding: 10px * $zoom 20px * $zoom;
}

.btn-lg {
  padding: 12px 24px;
  font-size: 18px * $zoom;
  line-height: 1.33333 * $zoom;
}

@mixin default-font {
  font-size: 19px;
  line-height: 1.7;
  font-weight: normal;
}

body {
  @include default-font;
}

section {
  padding: 100px 0;

  h1 {
    font-family: $font-family-sans-serif;

    font-family: Roboto-Black;
    font-size: 52px;
    color: #454545;
    line-height: 1.44;

    text-align: center;
    margin-bottom: 50px;
    margin-top: 40px;
  }

  h2 {
    font-family: $font-family-sans-serif;
    font-weight: 300;
    font-size: 34px;
    line-height: 48px;
    color: $primarycolor;
    margin: 50px 0;
  }

  .lead {
    text-align: center;
    margin-bottom: 50px;
    font-size: 22.5px;
    font-weight: 400;
  }

  h1 + .lead {
    margin-top: -20px;
  }

  p, td, li {
    @include default-font;
  }
}

#hero {
  background-image: url('/images/tm-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    background-color: white;
    padding: 20px;
    line-height: 1.44;
  }
}

.cta {
  background: $primarycolor;
  text-align: center;
  padding: 50px 0;

  h1 {
    color: white;
  }
}

#jumbo {
  img {
    margin: 30px;
  }
}

#whom {
  @include gray-section;
}

#notalone {
  text-align: center;
  .ninety {
    /* 90% людей: */
    font-family: Roboto-Light;
    font-size: 72px * $zoom;
    margin: 80px 0;
  }
}

#method {
  @include gray-section;

  img {
    margin: 25px 0;
    width: 111px;
    height: 111px;
  }
}

#find {
  img {
    width: 82px;
    height: 82px;
    margin: 15px;
  }
}

#how {
  img {
    width: 72px;
    height: 54px;
    margin: 15px;
  }
}

#who {
  @include gray-section;

  img.me {
    margin-top: 30px;
  }

  p {
    margin: 40px 0;
  }
}

#effect {
  .row + .row {
    margin-top: 100px;
  }
}

#buy {
  .modal-body {
    margin-bottom: 20px;

    .payment-option + .payment-option {
      margin-top: 40px;
    }
  }
}

#header {
  padding: 24px 0;

  img {
    width: 180px;
    height: auto;
  }

  p {
    padding-top: 20px;
  }

  box-shadow: 10px 10px 5px #888888;
}

#footer {
  background: #000000;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  font-size: 14px * $zoom;
  color: #A7A7A7;
  letter-spacing: 0.5px;
  line-height: 16px * $zoom;
  margin: 0;
  padding: 20px;

  a {
    color: #A7A7A7;
  }

  p {
    margin: 0;
  }
}
